@charset "UTF-8";
/* CSS Document */

h3{font-size:22px;}

/* CSS Document */
body{margin:0;color:#666;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#wrapper{height:auto;background-image:url(/images/bc-bg.gif);background-repeat: repeat-x;}
#wrapper .container {width:960px;height:auto;margin:0 auto;}
#wrapper .container .header{width:auto;height:120px;}
#wrapper .container .header .logo{float:left;width:190px;height:87px;background-image:url(/images/maniac.gif);background-repeat: no-repeat;}
#wrapper .container .header .sell-apple{float:right;width:240px;height: 60px;margin: 20px 0 0 0;}
#wrapper .container .header .sell-apple .mainButton{float:right;width: 212px;height: 41px;background: url(/images/btn-venda-seu-apple.png) no-repeat;
border: none;color: #FFF;cursor: pointer;display: inline-block;font-size: 15px;font-weight: bold;line-height:3px;padding:0 2px 0 0px;text-align: center;text-shadow: 0 1px 0 rgba(0,0,0,0.3);}
#wrapper .container .header .sell-apple .mainButton:hover {background-position:0 -41px;}

/* Header */
#wrapper .container .header .breadcrumb{float:left;width:960px;height:32px;}
#wrapper .container .header .breadcrumb .account{float:right;width:auto;height:auto;margin:5px 0 0 0;}
#wrapper .container .header .breadcrumb .account .security{color:#666;text-decoration:none;font-size:14px;line-height: 20px;}
#wrapper .container .header .breadcrumb .account .iconSec{float: left;margin: -2px 5px 0 0;}
#wrapper .container .header .breadcrumb .account .security:hover {text-decoration:underline;}

/* Content-left */
#wrapper .container .content {height:auto;}
#wrapper .container .content-left {float:left;}
#wrapper .container .content-right {float:right;}

#wrapper .container .content-right .ButtonRegister{width: 297px;height: 41px;border: none;color: #FFF;cursor: pointer;display: inline-block;font-size: 15px;font-weight: bold;line-height:3px;padding:0 17px 0 0px;text-align: center;text-shadow: 0 1px 0 rgba(0,0,0,0.3);background-image: url(/images/btn-venda-seu-apple.png);background-repeat: no-repeat;background-position: -222px 0px;}
#wrapper .container .content-right .ButtonRegister:hover{background-position: -222px -41px;}
#wrapper .container .content-right .fconnect{float:left;width: 138px;height:35px;background-image: url(/images/btn-venda-seu-apple.png);background-repeat: no-repeat;background-position: -528px 0px;border: none;display: block;margin: 0 0 0 80px;}
#wrapper .container .content-right .fconnect:hover{background-position: -528px -35px;}
#wrapper .container .content-right .fconnect-text{margin: 15px 0 5px 80px;font-size: 15px;}
#wrapper .container .content-right input{width:284px;background: #FFF none;display: inline-block;border: 1px solid #cacaca;border-radius:3px;height: 25px;margin:8px 0 0 0;padding: 5px 4px 3px;color: 
#666;font-size: 16px;line-height: 1.143em;}

#wrapper .container .products{width:960px;float:left;}
#wrapper .container .products .list{margin:0;padding:0}
#wrapper .container .products .list .item{list-style:none;float: left;width: 155px;}
#wrapper .container .products .list .item .text-bt{margin: 110px 0 0 0;text-align: center;}
#wrapper .container .products .list .item .iphone.btn-product{background-image: url(/images/sprite-index.png);padding: 0 133px 106px 10px;width:150px;height:150px;}
#wrapper .container .products .list .item .iphone.btn-product:hover{background-image: url(/images/sprite-index.png);background-position: 0px 127px;}

#wrapper .container .products .list .item .ipad.btn-product{background-image: url(/images/sprite-index.png);background-position: -152px 0;padding: 0 133px 106px 10px;width:150px;height:150px;}
#wrapper .container .products .list .item .ipad.btn-product:hover{background-image: url(/images/sprite-index.png);background-position: -152px 127px;}

#wrapper .container .products .list .item .ipod.btn-product{background-image: url(/images/sprite-index.png);background-position: -303px 0;padding: 0 133px 106px 10px;width:150px;height:150px;}
#wrapper .container .products .list .item .ipod.btn-product:hover{background-image: url(/images/sprite-index.png);background-position: -303px 127px;}

#wrapper .container .products .list .item .macbook.btn-product{background-image: url(/images/sprite-index.png);background-position: -456px 0;padding: 0 133px 106px 10px;width:150px;height:150px;}
#wrapper .container .products .list .item .macbook.btn-product:hover{background-image: url(/images/sprite-index.png);background-position: -456px 127px;}

#wrapper .container .products .list .item .imac.btn-product{background-image: url(/images/sprite-index.png);background-position: -608px 0;padding: 0 133px 106px 10px;width:150px;height:150px;}
#wrapper .container .products .list .item .imac.btn-product:hover{background-image: url(/images/sprite-index.png);background-position: -608px 127px;}

#wrapper .container .products .list .item .others.btn-product{background-image: url(/images/sprite-index.png);background-position: -759px 0;padding: 0 133px 106px 10px;width:150px;height:150px;}
#wrapper .container .products .list .item .others.btn-product:hover{background-image: url(/images/sprite-index.png);background-position: -759px 127px;}



/* Footer */
#wrapper .container .footer{width:950px;float:left;margin: 60px 0 0 0;border: 1px #e4e4e4 solid;border-radius: 4px;background-color: #f7f7f7;}
#wrapper .container .footer .list{float:left;width: 150px;padding:0;list-style:none;margin: 15px 0 15px 15px;line-height: 20px;}
#wrapper .container .footer .facebook{float:right;width:350px;height:80px;background-image: url(/images/facebook.png);float: right;background-repeat: no-repeat;margin: 15px 15px 0 0;}
#wrapper .container .footer .list .item .btn-footer{color:#666;text-decoration:none;font-size:13px;}
#wrapper .container .footer .list .item .btn-footer:hover{text-decoration:underline;}




