@charset "UTF-8";
/* CSS Document */

h3{font-size:22px;}

/* CSS Document */
body{margin:0;color:#666;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#wrapper{height:auto;background-image:url(/images/bc-bg.gif);background-repeat: repeat-x;}
#wrapper .container {width:960px;height:auto;margin:0 auto;}
#wrapper .container .header{width:auto;height:120px;}
#wrapper .container .header .logo{float:left;width:215px;height:87px;background-image:url(/images/maniac.gif);background-repeat: no-repeat;}
#wrapper .container .header .search{width:377px;float: left;margin: 10px 0 0 60px;}
#wrapper .container .header .search form fieldset{border:none;}
#wrapper .container .header .search form fieldset input{width: 284px;background: #FFF none;display: inline-block;border: 1px solid #cacaca;border-radius: 3px;height: 25px;margin: 8px 0 0 0;padding: 5px 4px 3px;color: #666;font-size: 16px;line-height: 1.143em;}
#wrapper .container .header .search form fieldset .searchButton{float:right;width:40px;background-color: #666;}
#wrapper .container .header .sell-apple{float:right;width:240px;height: 60px;margin: 20px 0 0 0;}
#wrapper .container .header .sell-apple .mainButton{float: right;width: 212px;height: 41px;background: url(/images/btn-venda-seu-apple.png) no-repeat;
border: none;color: #FFF;cursor: pointer;display: inline-block;font-size: 15px;font-weight: bold;line-height:3px;padding:0 2px 0 0px;text-align: center;text-shadow: 0 1px 0 rgba(0,0,0,0.3);}

#wrapper .container .header .sell-apple .mainButton:hover {background-position:0 -41px;}

/* Header */
#wrapper .container .header .breadcrumb{float:left;width:960px;height:32px;}
#wrapper .container .header .breadcrumb .account{float:right;width:auto;height:auto;margin:5px 0 0 0;}
#wrapper .container .header .breadcrumb .account .security{color:#666;text-decoration:none;font-size:14px;line-height: 20px;}
#wrapper .container .header .breadcrumb .account .iconSec{float: left;margin: -2px 5px 0 0;}
#wrapper .container .header .breadcrumb .account .security:hover {text-decoration:underline;}

#wrapper .container .content .filtersUp{width:auto;height:30px;border-bottom:1px #ccc solid;border-bottom: 1px #ccc dotted;line-height:27px;font-size: 14px;}
#wrapper .container .content .filtersUp .selectPrice{float:right;width:auto;margin:0 20px 0 0;}

/* Menu */
#wrapper .container .content .right-menu .titleMenu{width: auto;height: 35px;border-bottom: 1px #ccc solid;line-height: 35px;padding: 0 0 0 16px;background-color: #999;color: #fff;}
#wrapper .container .content .right-menu .titleMenu p {padding: 0;margin: 0;"}
#wrapper .container .content .right-menu{float:left;width:220px; height:auto;border:1px #CCC solid;border-radius:3px; margin:20px 0 0 0;}
#wrapper .container .content .right-menu .estados{width:auto;height:42px;border-bottom:1px #CCC solid;margin:20px 0 0 0;}
#wrapper .container .content .right-menu .estados .uf{height: 23px;font-size: 16px;margin:0 0 0 14px;}
#wrapper .container .content .right-menu .list{list-style:none;padding: 0;margin:0;}
#wrapper .container .content .right-menu .list .item{width:auto;height:40px;border-bottom:1px #ccc solid;cursor:pointer;font-size:15px;}
#wrapper .container .content .right-menu .list .item:hover{background-color:#f7f7f7;color:#fff;}
#wrapper .container .content .right-menu .list .item .btn-product{padding: 0 0 0 55px;line-height: 39px;color: #666;text-decoration: none;}


#wrapper .container .content .right-menu .list .item.iphone{background-image: url(/images/sprite-listing.png);background-position: 10px 4px;}
#wrapper .container .content .right-menu .list .item.ipad{background-image: url(/images/sprite-listing.png);background-position: 10px -39px;}
#wrapper .container .content .right-menu .list .item.ipod{background-image: url(/images/sprite-listing.png);background-position: 10px -80px;}
#wrapper .container .content .right-menu .list .item.macbook{background-image: url(/images/sprite-listing.png);background-position: 10px -122px;}
#wrapper .container .content .right-menu .list .item.imac{background-image: url(/images/sprite-listing.png);background-position: 10px -161px;}
#wrapper .container .content .right-menu .list .item.others{background-image: url(/images/sprite-listing.png);background-position: 10px -202px;}


/* Content-listing */
#wrapper .container .content .listing{float:left;width:710px;auto;margin:5px 0 0 20px;}
#wrapper .container .content .listing .box{height:125px;border-bottom:1px #CCC dotted;margin:15px 0 0 0;}
#wrapper .container .content .listing .box .photo img{width: 150px;height: 110px;float: left;margin: 0 20px 0 0;}
#wrapper .container .content .listing .box .price{float:right;padding: 0;margin: 0;width:50px;}
#wrapper .container .content .listing .box .title{font-size:17px;float:left;padding: 0;margin: 0;width: 450px;color:#08c;}
#wrapper .container .content .listing .box .detail{float:left;margin: 75px 0 0 0;font-size: 14px;}
#wrapper .container .content .listing .maisResultados{background-color:#f7f7f7;width:auto;height:40px;border:1px #ccc solid;margin:25px 0 0 0;border-radius:3px;cursor:pointer;text-align:center;line-height:38px;}
#wrapper .container .content .listing .maisResultados:hover{background-color:#ccc;}
#wrapper .container .content .listing .maisResultados .verMais{color:#666;text-decoration:none;}

/* Footer */
#wrapper .container .footer{width:950px;float:left;margin: 60px 0 0 0;border: 1px #e4e4e4 solid;border-radius: 4px;background-color: #f7f7f7;}
#wrapper .container .footer .list{float:left;width: 150px;padding:0;list-style:none;margin: 15px 0 15px 15px;line-height: 20px;}
#wrapper .container .footer .facebook{float:right;width:350px;height:80px;background-image: url(/images/facebook.png);float: right;background-repeat: no-repeat;margin: 15px 15px 0 0;}
#wrapper .container .footer .list .item .btn-footer{color:#666;text-decoration:none;font-size:13px;}
#wrapper .container .footer .list .item .btn-footer:hover{text-decoration:underline;}




